.obj
runtime
zones
start
server
MYSQLPASS        
create_tables.sql        
fk.txt        
merc.sql        
motd.txt        
my        
storage.sql
chatserver        
create_account        
create_armor        
create_character        
create_weapons        
update_server
